<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5"/>
    <customErrors defaultRedirect="~/pages/Shared/Errorpage.html" mode="On"/>
  <globalization
      fileEncoding="utf-8"
      requestEncoding="utf-8"
      responseEncoding="utf-8"
      culture="en-US"
      uiCulture="de-DE"
    />
  </system.web>
  <system.webServer>
    <!-- Detta är inte nödvändigt, då Default ändå är startsidan, men såhär väljer man startsida..-->
    <defaultDocument>
      <files>
        <clear/>
        <add value="~/pages/Default.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
  <connectionStrings>
    <add name="userConn" connectionString="Data Source=172.16.214.1;Initial Catalog=WP13_lr222gw_SpelListaren; User Id=appUser; Password=1Br@Lösen=rd?;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>